<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<title>OMDb-Search-Movie</title>
</head>
<body ng-app="myApp">
<div class="container" ng-controller="searchMovie">
	<h1>Welcome to OMDB movie search</h1>
	<div class="home">
		<p>Please input movie name you would like to search.</p>
		<form>
			<div>
				<input type="text" name="" placeholder="movie name" class="input" ng-model="movieName">
				<input type="button" name="" value="Search" class="btn" ng-click="getMovie()">
			</div>
		</form>
	</div>
	<div>
		<div movie-search-results></div>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>